<div class="recipe-list-container">
  <button class="add-button" (click)="goToAddForm()">+ Add New Recipe</button>
  <div class="card" *ngFor="let recipe of recipes">
    <div class="card-content">
      <h3 class="card-title">{{ recipe.title }}</h3>
      <p><strong>Dietary Tag:</strong> {{ recipe.dietaryTags }}</p>
      <p><strong>Ingredients:</strong> {{ recipe.ingredients }}</p>
      <p><strong>Steps:</strong> {{ recipe.steps }}</p>
      <p>
        <strong>Cooking Time:</strong> {{ recipe.cookingTimeInMinutes }} minutes
      </p>
    </div>
    <div class="card-actions">
      <button class="edit-button" (click)="editRecipe(recipe.id)">Edit</button>
      <button class="delete-button" (click)="deleteRecipe(recipe.id)">
        Delete
      </button>
    </div>
  </div>
</div>
